<h1>Doing basic math with Rails routes.</h1>

<h3>Why not?</h3>

Try some of these:

<ul>
  <li><a href="/2/plus/2">/2/plus/2</a></li>
  <li><a href="/3/minus/-3">/3/minus/-3</a></li>
  <li><a href="/-4/times/3">/-4/times/3</a></li>
  <li><a href="/9/by/3">/9/by/3</a></li>
</ul>
